.profile-image{
    max-width: 160px;
    max-height: 160px;
    border: 2px solid #ff4081;
    border-radius: 50%;
}

.table{
    width: 100%;
    border-collapse: collapse;
}
.table tr td{
    padding: 10px 20px;
    border: .5px solid #e2e2e2;
}